body {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #cdcdcd;
  font-size: 1.2rem;
}

.inp {
  text-align: center;
  background-color: #acacac;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: fit-content;
}

.addbtn {
  border-radius: 0.5rem;
  background-color: #acacac;
  height: 1.8rem;
}

li {
  display: block;
  font-size: larger;
}

.delbtn {
  border-radius: 50%;
  color: rgb(244, 53, 53);
  margin-left: 1rem;
}
.delbtn:hover {
  box-shadow: 1px 1px 7px rgb(244, 53, 53);
}
